[workspace]
resolver = "3"
members = ["tessera_audio", "tessera"]

[profile.dev]
# opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
debug = 1 # for profiling
# lto = "thin"
# codegen-units = 1
# panic = "abort"
